* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.app_container {
  display: grid;
  grid-template: 
  'left header right' 8rem
  'left main right' 1fr
  'left main right' 1fr/
  15rem 1fr 15rem;
  height: 100vh;
  width: 100vw;
}


.icon {
  width: 30px;
  cursor: pointer;
}

.button {
  background-color: #638889;
  border-radius: 20px;
  border: 2px solid #9DBC98;
  color: #EBD9B4;
  height: 30px;
  width: 100px;
  cursor: pointer;
}

.button:hover {
  background-color: #EBD9B4;
  border-radius: 20px;
  border: 2px solid #9DBC98;
  color:  #638889;
}

.text_input {
  border: none;
  border-bottom: 2px solid #9DBC98;
  background-color: #F9EFDB;
}

#form {
  gap: 2rem;
}

.enter_button {
  border: none;
  background-color: #F9EFDB;
}