/* Global style */
h1 {
  text-align: center;
  font-size: 2.25rem;
}

input {
  background-color: #f9f7f7;
  border: 1px solid #3f72af;
  border-radius: 0.15rem;
  padding: 0.5rem;
}

input::placeholder {
  color: #112d4e;
}

input:focus {
  outline: 1px solid #112d4e;
}

input,
button {
  width: 20rem;
  height: 3rem;
}

button {
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 0.15rem;
  background-color: #3f72af;
  color: #f9f7f7;
  cursor: pointer;
}

button:hover {
  transition: 0.15s ease-in-out;
  background-color: #112d4e;
}

#register,
#login,
#movies,
#user-list,
#token-not-valid,
#not-admin,
#homepage,
#page-not-found {
  display: grid;
  padding: 5rem 4rem 5rem 4rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #f9f7f7;
}

#register span,
#login span,
#movies span,
#page-not-found span {
  display: grid;
  justify-content: center;
  gap: 0.15rem;
}

span a {
  color: #3f72af;
}

span a:hover {
  transition: 0.15s ease-in-out;
  color: #112d4e;
}
/* Register && Login */
#register,
#login {
  gap: 1rem;
}

#register span,
#login span,
#page-not-found span {
  grid-template-columns: repeat(2, auto);
}

#user-not-found,
#username-not-unique,
#title-not-unique {
  font-size: 14px;
  color: red;
  font-weight: bold;
}

/* Movies */
#movies {
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "go-back go-back"
    "create-movie movie-list";
  row-gap: 2rem;
  column-gap: 10rem;
  margin: 2rem 0 2rem 0;
}

#go-back {
  justify-self: left;
  grid-area: go-back;
}

#movies form {
  display: grid;
  gap: 1rem;
  height: min-content;
}

#movies section {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

#movie {
  display: grid;
  padding: 1rem;
  border: 1px solid #3f72af;
  border-radius: 0.15rem;
  gap: 1rem;
  width: 20rem;
}

#movie p {
  word-break: break-all;
}

#movies form span {
  grid-template-rows: repeat(2, auto);
}

#movies form span div {
  display: grid;
  justify-content: center;
  gap: 0.5rem;
  grid-template-columns: repeat(3, max-content);
}

#movie div {
  display: grid;
  gap: 0.5rem;
}

/* Users */
#user-list {
  gap: 2rem;
  margin: 2rem 0 2rem 0;
}

#users {
  display: grid;
  grid-template-columns: repeat(3, minmax(12rem, 1fr));
  gap: 2rem;
}

#user {
  display: grid;
  justify-items: center;
  padding: 2rem;
  border: 1px solid #3f72af;
  gap: 1rem;
  grid-template-areas:
    "id username"
    "button button";
  border-radius: 0.15rem;
}

#user-id {
  grid-area: id;
}

#user-username {
  grid-area: username;
}

#user button {
  width: 10rem;
  grid-area: button;
}

#user-id,
#user-username {
  display: grid;
  gap: 0.5rem;
  text-align: center;
}

#token-not-valid {
  gap: 1rem;
  text-align: center;
}

#token-not-valid span {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, max-content);
  gap: 0.5rem;
}

#not-admin {
  display: grid;
  gap: 0.5rem;
  justify-items: center;
}

/* Homepage */
#homepage {
  gap: 2rem;
}

#homepage span {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(7, max-content);
}

/* PageNotFound */
#page-not-found {
  gap: 1rem;
}
