.movie-list--container {
    grid-template-rows: 70px 1fr;
    gap: 20px;
    padding: 50px;
}

.movie-list--content-container {
    justify-content: center;
}

.movie-list--movies-container {
    justify-items: center;
    gap: 20px;
}

.delete-movies-btn {
    width: 200px;
    height: 40px;
    background-color: #2600ff;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 9999px;
}

.delete-movies-btn:hover {
    transform: scale(1.02);
    background-color: #2600ff9f;
    cursor: pointer;
    border: none;
}