.dashboard_header, .register_header, .login_header, .film_header {
    grid-area: header;
    background-color: #638889;
    padding: 2.5rem;
    display: flex;
    gap: 1rem;
    color: #EBD9B4;
}
#filmreel {
    width: 40px;
}

.dashboard_main, .register_main, .login_main, .film_main {
    background-color: #F9EFDB;
    grid-area: main;
    place-content: center;
    padding: 9rem;
    
}
.button_box {
    display: flex;
    padding: 2rem;
    gap: 1rem;
    place-content: center;
}

.left_side {
    background-color: #EBD9B4;
    grid-area: left;
    place-content: center;
}

.films_list {
    overflow: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
    scrollbar-width: none;
}

.films_list::-webkit-scrollbar {
    display: none;
}

.right_aside {
    margin: 0;
    grid-area: right;
    background-color: #EBD9B4;
}