.App {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

.movie-list {
  display: grid;
  justify-content: center;
}

.movie-card {
  border: 4px solid black;
  width: 300px;
  border-radius: 7px;
}

.form {
  margin: auto;
  justify-self: center;
  margin-bottom: 40px;
}

form {
  display: grid;
  justify-items: center;
}

form > input {
  margin-bottom: 4px;
}

ul {
  list-style: none;
}
