ul {
	list-style: none;
}

.App {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	height: 100vh;
	transition: ease height 1s;
}

.UserForm {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.MovieForm {
	display: flex;
	flex-direction: column;
	align-self: center;
}

/* Sections */
.SectionUserForm {
	display: flex;
	align-self: center;
}

.SectionMovieForm {
	display: flex;
	align-self: center;
	scale: 1;
	animation-name: movieForm;
	animation-duration: 0.5s;
	animation-timing-function: ease;
}

section section {
	border: 0.2rem solid black;
	border-radius: 1rem;
	padding: 1rem;
	margin: 1rem;
}
/* --- */

form {
	gap: 0.5rem;
}
input {
	font-size: 1rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	transition: ease scale 0.2s;
}
button {
	font-size: 1rem;
	padding: 0.5rem;
	border-radius: 2rem;
	cursor: pointer;
	transition: ease scale 0.2s;
}
input:focus,
button:focus {
	scale: 1.2;
}

.Notification {
	position: absolute;
	bottom: 1rem;
	right: 50%;
	transform: translateX(50%);
	padding: 1rem;

	border-radius: 2rem;
	border: 0.2rem solid black;
	background-color: white;

	cursor: pointer;
	animation-name: notification;
	animation-duration: 0.5s;
}

.LoginStatus {
	position: absolute;
	top: 1rem;
	right: 50%;
	transform: translateX(50%);

	padding: 1rem;

	border-radius: 20px;
	border: 0.2rem solid black;
	background-color: white;

	cursor: pointer;
}

@keyframes notification {
	from {
		bottom: -5rem;
	}

	to {
		bottom: 1rem;
	}
}

@keyframes movieForm {
	from {
		scale: 0;
	}

	to {
		scale: 1;
	}
}
